<aside class="main-sidebar" style="min-height: 958px">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="" class="img-circle" alt="" />
      </div>
    </div>
    <!-- search form -->

    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="treeview">
        <a href="#">
          <i class="fa fa-th"></i>
          <span>QUẢN LÝ DANH MỤC SẢN PHẨM</span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="/category"><i class="fa fa-list"></i>DANH SÁCH DANH MỤC</a>
          </li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#">
          <i class="fa fa-th"></i>
          <span>QUẢN LÝ SẢN PHẨM</span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="/product"><i class="fa fa-list"></i>DANH SÁCH SẢN PHẨM</a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-th"></i>
          <span>QUẢN LÝ NGƯỜI DÙNG</span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="/user/getAllUser"><i class="fa fa-list"></i>DANH SÁCH NGƯỜI DÙNG</a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-th"></i>
          <span>Admin</span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="/"><i class="fa fa-home" aria-hidden="true"></i></i>Về trang chủ</a>
          </li>
          <li>
            <a href="/user/logout"
              ><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
