<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>Có lỗi</h1>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="jumbotron">
      <div class="container">
        <h1>Lỗi</h1>
        <p><%= ms %></p>
        <p>
          <a href="/" class="btn btn-primary btn-lg">Quay lại</a>
        </p>
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>
