<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Hỗ trợ khách hàng</h4>
            <ul>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">Các câu hỏi thường gặp</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">Liên hệ chúng tôi</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">Hệ thống cửa hàng
                </a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">Tra cứu đơn hàng</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">Hướng dẫn đo kích thước</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>BỘ SƯU TẬP NỮ</h4>
            <ul>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">Bộ sưu tập Xuân Hè</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">Đầm</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">Áo Sweater & Cardigan</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">Marketing</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">Giày dép</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>BỘ SƯU TẬP NAM</h4>
            <ul>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">Bộ sưu tập Xuân Hè</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">Quần âu</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">Áo Sweater & Cardigan</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">Marketing</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">Giày dép</a>
              </li>
            </ul>
          </div>

          

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>About</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque, totam porro aut blanditiis exercitationem obcaecati voluptatum vero. Ab eveniet exercitationem vero dolores ipsa incidunt quod facilis commodi, non voluptate culpa.
            </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"
                ><i class="bx bxl-instagram"></i
              ></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        Thương hiệu Sandro được phân phối chính thức bởi Công ty Cổ phần Quốc tế Tam Sơn <br>
Giấy chứng nhận đăng ký kinh doanh số: 0101794983 do Sở Kế hoạch và Đầu tư thành phố Hà Nội cấp lần đầu ngày 07 tháng 10 năm 2005 <br>
Địa chỉ trụ sở : Số 21, Ngõ 2, Lê Văn Hưu, Quận Hai Bà Trưng, Hà Nội, Việt Nam <br>
Tel: +84 24 39369757 / Fax: +84 24 39369759
      </div>
       
    </div>
  </footer>
  <!-- End Footer -->

  <a
    href="#"
    class="back-to-top d-flex align-items-center justify-content-center"
    ><i class="bi bi-arrow-up-short"></i
  ></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
</body>
</html>