<%- include('../uservisit/header') %>
<section class="vh-80" style="background-color: #eee">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11 mt-5">
        <div class="card text-black" style="border-radius: 25px">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                  Sign up
                </p>

                <form
                  method="post"
                  action="/register"
                  class="mx-1 mx-md-4"
                  enctype="multipart/form-data"
                >
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example4c"
                        >UserName</label
                      >

                      <input
                        type="text"
                        id="username"
                        class="form-control"
                        name="username"
                      />
                    </div>
                  </div>
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example4c"
                        >PassWord</label
                      >
                      <input
                        type="password"
                        id="password"
                        class="form-control"
                        name="password"
                      />
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example4cd"
                        >Repeat your password</label
                      >
                      <input
                        type="password"
                        id="rpassword"
                        class="form-control"
                        name="rpassword"
                      />
                    </div>
                  </div>
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example1c"
                        >Your Image</label
                      >
                      <input
                        type="file"
                        id="image"
                        class="form-control"
                        name="image"
                      />
                    </div>
                  </div>
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example1c"
                        >Your Name</label
                      >
                      <input
                        type="text"
                        id="name"
                        class="form-control"
                        name="name"
                      />
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example3c"
                        >Your Email</label
                      >
                      <input
                        type="email"
                        id="email"
                        class="form-control"
                        name="email"
                      />
                    </div>
                  </div>
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example1c"
                        >Your Phone</label
                      >
                      <input
                        type="number"
                        id="phone"
                        class="form-control"
                        name="phone"
                      />
                    </div>
                  </div>
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example1c"
                        >Your Address</label
                      >
                      <input
                        type="text"
                        id="address"
                        class="form-control"
                        name="address"
                      />
                    </div>
                  </div>
                  <div class="form-check d-flex justify-content-center mb-5">
                    <input
                      class="form-check-input me-2"
                      type="checkbox"
                      value=""
                      id="form2Example3c"
                    />
                    <label class="form-check-label" for="form2Example3">
                      I agree all statements in
                      <a href="#!">Terms of service</a>
                    </label>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button
                      type="submit"
                      onclick="return val()"
                      class="btn btn-primary btn-lg"
                    >
                      Register
                    </button>
                  </div>
                </form>
                <p class="text-center text-muted mt-5 mb-0">
                  Have already an account?
                  <a href="/login" class="fw-bold text-body"
                    ><u>Login here</u></a
                  >
                </p>
              </div>
              <div
                class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2"
              >
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid"
                  alt="Sample image"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('../uservisit/footer') %>
<script>
  function val() {
    let mess = "";
    let username = document.getElementById("username").value.trim();
    if (!username) {
      mess += "Username không được để trống \n";
    }
    let password = document.getElementById("password").value.trim();
    if (!password) {
      mess += "Password không được để trống \n";
    }
    let rpassword = document.getElementById("rpassword").value.trim();
    if (!rpassword) {
      mess += "Nhập lại Password không được để trống \n";
    }
    let name = document.getElementById("name").value.trim();
    if (!name) {
      mess += "Tên không được để trống \n";
    }
    let email = document.getElementById("email").value.trim();
    if (!email) {
      mess += "Email không được để trống \n";
    }
    let address = document.getElementById("address").value.trim();
    if (!address) {
      mess += "Địa chỉ không được để trống \n";
    }
    let phone = document.getElementById("phone").value.trim();
    if (!phone) {
      mess += "Số điện thoại không được để trống \n";
    }
    if (rpassword !== password) {
      mess += "Password không trùng vui lòng kiểm tra lại \n";
    }
    if (mess) {
      alert(mess);
      return false;
    }
    return true;
  }
</script>
